.services-list{
    background-color: white;
    margin-left: 2em;
    margin-right: 2em;
    padding: 2em;
}
#back-image{
    height: 28em;
}
.services-text{
    text-align: justify;    
}
.image{
    float: right;
    margin-left: 2em;
    height: 13em;
    width: 20em;
    border-radius: 1em;
}
.text-box2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 1em;
    margin-right: 1em;
    padding: 2em;
    border-radius: 2em;
    word-wrap: break-word; 
    margin-bottom: 2em;
}

