header, footer{
    background-color: whitesmoke;
    padding-left: 2em;
    padding-right: 2em; 
}

footer{
    height: 10em;
}

#logo{
    height: 6em;
    width: 6em;
}

#back-image{
    background-image: url("/Common files/soft_blue.jpg");
    height: 100vh;
    background-size: cover;
}

#pageTitle{
    text-align: left;
    font-weight: bold;
    margin-left: 1em;
}

.DB-text{
    text-align: justify;    
}

#AdminDB {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.3em;
    background-color: white;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 5px;
    padding: 10px 5px; 
    margin-bottom: 2em;
}

#AdminDB a {
    display: block; 
    text-decoration: none; 
    border-bottom: 1px solid gray; 
    margin: 0; 
    padding: 10px 0; 
}

#AdminDB a:first-of-type {
    margin-top: 10px; 
}

#AdminDB a:last-of-type {
    border-bottom: none; 
    margin-bottom: 0; 
}


body {
    display: flex; 
    flex-direction: column; 
}

#back-image {
    flex: 1; 
    
}

.option-link {
    display: inline-block;
    width: 100%;
}
.major{
    font-size: 21px;
    color: black;
}

.option-box {
    background-color: #f9f9f9;
    border-radius: 0.3em;
    padding: 20px;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
    text-align: center; 
}
.option-link:hover .option-box {
    background-color: #e0e0e0; 
    transition: background-color 0.3s;
    cursor: pointer;
}