body{ 
    background-color: rgb(250, 249, 246);
    /*Review background image*/
    background-image: url("/Common files/soft_blue.jpg");
    background-size: cover;
}
/*For terms page logo*/
.image{
    width: 9em;
    height: auto;  
}
.contain{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    background-color: white;
    padding: 6em;
    width: 55%;
    margin: auto;
}
.contain.c2{
    text-align: justify;
}
/*For terms page*/
.head{  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    background-color: whitesmoke;
    padding : 1em;
    text-align: center;
    height: 6em;  
}
#desc{
    color:rgb(46, 133, 201);
}
.password-toggle{
    margin-left: 0.2rem;
}

.btn.btn-secondary{
    background-color: rgb(46, 133, 201);
    color: white;
}
.btn.btn-secondary:hover{
    transition: background-color 0.3s;
    background-color: rgb(24, 89, 179);
}
#buttons{
    margin-top: 5%;
}
#back-to{
    color: rgb(35, 109, 165); 
    position:relative;
}
#back-to:link{
    text-decoration: none;
}
#back-to:hover{
    color:rgb(24, 89, 179);
    text-decoration: underline;
}
.arr {
    margin-right: 0.1em;
    display: inline-block;
    transform: translateY(-1.5px);
}
.arrow.right {
    border: solid rgb(35, 109, 165); ;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(135deg);
}
